* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.post-body p {
  padding-bottom: 2rem;
}

a {
  color: #022366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.MuiBox-root.css-1t6c9ts a {
  color: #022366;
  font-weight: bold;
}

.MuiBox-root.css-1t6c9ts a:hover {
  color: #101702;
  text-decoration: underline overline;
}

button:disabled {
  display: none;
}
.mr-2 {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-color: aliceblue;
}

.selected {
  text-decoration: underline overline;
}

#basic-button a:hover {
  background-color: white;
}

.FooterNav a {
  color: white;
}

.footer-text-small {
  text-align: center;
}

.footer-text-large {
  text-align: center;
}

ul li {
  padding-bottom: 0.5rem;
  font-size: small;
}
