* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #022366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.MuiBox-root.css-1t6c9ts a {
  color: #022366;
  font-weight: bold;
}

.MuiBox-root.css-1t6c9ts a:hover {
  color: #101702;
  text-decoration: underline overline;
}

button:disabled {
  display: none;
}

.SearchT {
  width: 3rem;
  height: 3rem;
}
